@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
    <div class="raw">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1> Privacy Policy </h1>
            <p>
            ร้านภักดีคาเฟ่ ตระหนักถึงความสำคัญของการคุ้มครองข้อมูลส่วนบุคคล เนื่องจากการคุ้มครองข้อมูลส่วนบุคคลเป็นส่วนหนึ่งของการรับผิดชอบต่อสังคม
            และเป็นรากฐานในการสร้างความสัมพันธ์ทางธุรกิจที่น่าเชื่อถือ ทางร้านจึงออกนโยบายฉบับนี้ขึ้นเพื่อกำหนดกรอบการคุ้มครองข้อมูลส่วนบุคคลในกระบวนการต่างๆ 
            ของทางร้าน เพื่อให้พนักงานและบุคคลที่เกี่ยวข้องของร้านยึดมั่นและปฏิบัติตาม ให้เป็นไปตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล
            พ.ศ. 2562 (“พ.ร.บ. คุ้มครองข้อมูลส่วนบุคคล”) และมาตรฐานที่กำหนดไว้
        </p>
        </div>
</body>
